body {
    font-family: "Outfit", Arial, sans-serif;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    max-width: 600px;
    margin: auto;
}

.calendar div {
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.header {
    grid-column: span 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-names {
    grid-column: span 7;
    display: contents;
}

.day-names div {
    background-color: #4a90e2;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    font-size: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#groupNameSelect {
    font-family: "Outfit", Arial, sans-serif;
}

#groupSize {
    font-family: "Outfit", Arial, sans-serif;
}

.modal-content h2 {
    display: flex;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.classroom-list {
    list-style-type: none;
    padding: 0;
}

.classroom-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
}

#eventsList li {
    margin-bottom: 30px;
}

.left-side-event {
    line-height: 1.5;
    font-size: 16px;
}

.right-side-event {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.occupied {
    background-color: #afc8e6;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
    display: flex;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    font-family: "Outfit", Arial, sans-serif;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    flex: 1;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

.container {
    margin-top: 100px;
}

#showMyEventsButton {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-family: "Outfit", Arial, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-not-connected {
    background-color: #627080;
    color: #fff;
    border: none;
    font-family: "Outfit", Arial, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-events {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: "Outfit", Arial, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-events:hover {
    background-color: #0056b3;
}