/* General styles */
body {
    font-family: "Outfit", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 130px;
    display: flex;
}

.left-section {
    flex: 1;
    padding-right: 40px;
    border-right: 1px solid #ccc;
}

.left-section h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.right-section {
    flex: 2;
    padding-left: 20px;
}

.right-section h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.groups-container {
    padding-right: 20px;
    max-height: 355px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.groupCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.groupCard h2 {
    margin-top: 0;
}

.groupCard p {
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-family: "Outfit", Arial, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    font-size: 20px;
}

input[type='file']::file-selector-button {
    background-color: #007bff;
    font-family: "Outfit", Arial, sans-serif;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
    display: flex;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    font-family: "Outfit", Arial, sans-serif;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    flex: 1;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.modal-content {
    width: 100%;
}

#modalBackground {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        padding: 20px;
        border-right: none;
    }
}